<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container  ml-auto">
    <a class="navbar-brand" href="/">Home</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropDownMenuLink">Navigate Here</a>
          <div class="dropdown-menu">
            <a href="/geometry/index" class="dropdown-item">List of models</a>
            <a href="/about" class="dropdown-item">About</a>
          </div>
        </li>
        </li>
      </ul>
</nav>
