<div class="card text-center">  
  <div class="card-header">
    <h5>
      <a href="https://dbl.gatech.edu/">Digital Building Lab</a>
      with
      <a href="https://perkinswill.com/">Perkins + Will</a>
      </h5>
  </div>
  <br>
  <div class="card-block">
    <p class="card-text">
      Nirvik Saha, nirviksaha@gatech.edu
    </p>
    <p class="card-text ml-auto">
      Dennis R Shelden, dennis.shelden@design.gatech.edu
      </p>
    <p class="card-text">
      John R Haymaker, John.Haymaker@perkinswill.com
    </p>
    <br>
  </div>
</div>